In [8]:
import sqlite3

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
# arguments
weather_station = 'KDAL'
load_zone = 'COAST'

In [10]:
# connect to database
conn = sqlite3.connect('../test_project.db')

In [11]:
# load 2014 load data
load_query = 'SELECT OperDay_HourEnding_UTC, ' + load_zone + " from loads WHERE STRFTIME('%Y', loads.OperDay_HourEnding_UTC) = '2014'"
load_df = pd.read_sql_query(load_query, conn)

In [12]:
# load 2014 weather data
weather_query = 'SELECT DateUTC, TemperatureF from ' + weather_station + " WHERE STRFTIME('%Y', " + weather_station + ".DateUTC) = '2014'"
weather_df = pd.read_sql_query(weather_query, conn)

In [13]:
# load 2015 load data
load2015_query = 'SELECT OperDay_HourEnding_UTC, ' + load_zone + " from loads WHERE STRFTIME('%Y', loads.OperDay_HourEnding_UTC) = '2015'"
load2015_df = pd.read_sql_query(load2015_query, conn)

In [14]:
# load 2015 weather data
weather2015_query = 'SELECT DateUTC, TemperatureF from ' + weather_station + " WHERE STRFTIME('%Y', " + weather_station + ".DateUTC) = '2015'"
weather2015_df = pd.read_sql_query(weather2015_query, conn)

In [15]:
# change datatypes

load_df = load_df.astype({'OperDay_HourEnding_UTC': 'datetime64[ns]'})
load_df = load_df.sort_values('OperDay_HourEnding_UTC')
load2015_df = load2015_df.astype({'OperDay_HourEnding_UTC': 'datetime64[ns]'})
load2015_df = load2015_df.sort_values('OperDay_HourEnding_UTC')


weather_df = weather_df.astype({'DateUTC': 'datetime64[ns]'})
weather_df = weather_df.sort_values('DateUTC')
weather2015_df = weather2015_df.astype({'DateUTC': 'datetime64[ns]'})
weather2015_df = weather2015_df.sort_values('DateUTC')

In [16]:
# join load and weather dataframes by date

merged_df = pd.merge_asof(load_df,weather_df, left_on='OperDay_HourEnding_UTC',right_on='DateUTC', tolerance=pd.Timedelta('15min'))
merged_df.dropna(inplace=True)

In [17]:
# drop outlier datapoints from train data

outlier_index = merged_df[merged_df['TemperatureF'] < -100].index
merged_df.drop(outlier_index, inplace=True)

In [18]:
# group df by date to find daily peak load

max_load_df = merged_df.loc[merged_df.groupby(merged_df['OperDay_HourEnding_UTC'].dt.date)[load_zone].idxmax()]

In [19]:
# merge 2015 dataframes by date

test_df = pd.merge_asof(load2015_df,weather2015_df, left_on='OperDay_HourEnding_UTC',right_on='DateUTC', tolerance=pd.Timedelta('15min'))
test_df.dropna(inplace=True)

# group df by date to find daily peak load

test_df = test_df.loc[test_df.groupby(test_df['OperDay_HourEnding_UTC'].dt.date)[load_zone].idxmax()]

In [20]:
# drop outlier datapoints from test data

outlier_index = test_df[test_df['TemperatureF'] < -100].index
test_df.drop(outlier_index, inplace=True)

In [22]:
merged_df

     OperDay_HourEnding_UTC     COAST             DateUTC  TemperatureF
7       2014-01-01 07:00:00   8913.01 2014-01-01 06:53:00          39.9
8       2014-01-01 08:00:00   8718.73 2014-01-01 07:53:00          39.0
9       2014-01-01 09:00:00   8554.86 2014-01-01 08:53:00          37.9
10      2014-01-01 10:00:00   8444.40 2014-01-01 09:53:00          37.9
11      2014-01-01 11:00:00   8436.14 2014-01-01 10:53:00          37.0
...                     ...       ...                 ...           ...
8753    2014-12-31 19:00:00  11315.21 2014-12-31 19:00:00          37.0
8754    2014-12-31 20:00:00  11234.68 2014-12-31 19:53:00          37.0
8755    2014-12-31 21:00:00  11103.39 2014-12-31 20:53:00          36.0
8756    2014-12-31 22:00:00  11023.82 2014-12-31 21:53:00          36.0
8757    2014-12-31 23:00:00  11191.83 2014-12-31 22:53:00          35.1

[8708 rows x 4 columns]

In [23]:
from sklearn.preprocessing import MinMaxScaler